body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #1a1110;
}

header,
main {
    padding: 0.5em;
    text-align: center;
}

h1 {
    margin: 0.25em auto;
    font-size: 4rem;
    font-weight: 700;
    color:  #1034a6;
}

button {
    margin: 1.25em 0.25em;
    padding: 0.5em 1em;
    border-radius: 15px;
    background-color:  #1034a6;
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px #1034a6 solid;
    box-shadow: 2px 2px 5px skyblue;
}

button:hover,
button:focus-visible {
    background-color: white;
    color: #1034a6;
}


.colour-scheme {
    margin: 0 auto;
    width: 75%;
}

.colour-block {
    height: 75px;
    margin: 0.5em;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #c0c0c0;
}

@media (min-width: 850px) {
    .colour-scheme {
        display: flex;
        flex-direction: row;        
        justify-content: center;
        width: 90%;
    }

    .colour-block {
        min-width: 135px;
        height: 375px;
    }
}


